<!DOCTYPE html>
<html lang="pt-BR">
<head>
	{%- include head.html -%}
</head>
<body>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
		
		<nav class="categories">
			<ul>
			{% for cat in site.categories %}
				<a href="/categories/{{cat | first}}"><li>{{ cat | first  }} </li></a>
			{% endfor %}
			</ul>				
			</div>
		</nav>		
	</header>
	<main>
		<div class="container">
			{{ content }}
		</div>
	</main>
	{%- include footer.html -%}
</body>
</html>